---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
    <section class="flex items-center justify-center ">
        <h1 class="text-4xl font-bold">
          Blog Coming Soon! Whispers from the Hive
        </h1>
        
    </section>
    <div class="flex items-center justify-center">
        <ul>
          <li class="mt-4 text-lg">
            <a href="/blog/post-1">POST 1</a>
          </li>
          <li class="mt-4 text-lg">
            <a href="/blog/post-2">POST 2</a>
          </li>
          <li class="mt-4 text-lg">
            <a href="/blog/post-3">POST 3</a>
          </li>
          <li class="mt-4 text-lg">
            <a href="/blog/post-4">POST 4</a>
          </li>
          <li class="mt-4 text-lg">
            <a href="/blog/post-5">POST 5</a>
          </li>
          <li class="mt-4 text-lg">
            <a href="/blog/post-6">POST 6</a>
          </li>
        </ul>
      </div>
</Layout>

<style>
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
  }
</style>