---
import ConfirmComponent from "../components/Confirm.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Confirming Account">
  <section class="max-w-md mx-auto py-8 space-y-4">
    <ConfirmComponent client:only="react" />
  </section>
</Layout>
