---
import Layout from "../layouts/Layout.astro";
import DashboardClient from "../components/DashboardClient.tsx";
---

<Layout title="Dashboard">
  <section class="max-w-md mx-auto py-8 space-y-6">
    <DashboardClient client:only="react" />
  </section>
</Layout>
