
---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="flex flex-col bg-magenta-100 w-full border-4 border-magenta-500 rounded-4xl my-100">
    <h1 class="sm:hidden flex-col relative text-center text-5xl text-cyan-400 py-2 font-extrabold">This is Mobile Text</h1>
    <h1 class="funtime">This is Desktop Text</h1>
  </div>
</Layout>
