
---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="gridder">
    <div class="h-16 rounded-full bg-blue-500"></div>
    <div class="h-16 rounded-full bg-orange-500"></div>
    <div class="h-16 rounded-full bg-green-500"></div>
  </div>
</Layout>
