---
import ResetPassword from "../components/ResetPassword.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Reset Password">
  <section class="max-w-md mx-auto py-8 space-y-6">
    <ResetPassword client:only="react" />
  </section>
</Layout>
