---
import ResetPassword from "../components/ResetPassword.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Reset Password">
  <section class="section-spacing px-4 sm:px-6">
    <div class="container-responsive max-w-md mx-auto">
      <ResetPassword client:only="react" />
    </div>
  </section>
</Layout>
