---
import Layout from "../layouts/Layout.astro";
import SignInForm from "../components/SignInForm.tsx";
---

<Layout title="Sign in">
  <h1>Sign in</h1>
  <p>New here? <a href="/register">Create an account</a></p>
  <SignInForm client:only="react" />
</Layout>
