---
// src/layouts/BlogLayout.astro

import Layout from './Layout.astro';
---
<Layout>
  <main class="max-w-7xl mx-auto px-4 py-12 space-y-8">
    <slot name="heading" />
    <ul role="list" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <slot />
    </ul>
    
    <div class="hidden lg:block text-center text-gray-500 mt-4">
    <slot name="sidebar" />

    <div class="mt-10 flex justify-center gap-4 text-sm text-gray-700">
      <slot name="pagination" />

    
  </div>
  </main>
</Layout>